@font-face {
	font-family: "Roboto-Regular";
	src: url("/css/fonts/Roboto-Regular.eot");
}

@font-face {
	font-family: "Roboto-Bold";
	src: url("/css/fonts/Roboto-Bold.eot");
}



/* ////////		ttf 			///////////*/
@font-face {
	font-family: "Roboto-Regular";
	src: url("/css/fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto-Bold";
	src: url("/css/fonts/Roboto-Bold.ttf");
}



p{
	margin: 0px;
	padding: 0px;
}

ul {

}
body{
	margin:0px;
	direction:ltr;
	text-align:left;
	font-family:Lato;
	font-size:12px;
	padding: 0px;
	outline: none;

}

a{
	text-decoration:none;
	outline:none;
	outline: none;
	display: block;
	border: none;
}
a img {
	outline: none;
	border: none;
	display:block;
	text-decoration: none;
}


.floatClass{
	float:left;
}

.floatRevClass{
	float:right;
}


.socialMediaIcons {
	width: 140px;
	height: 34px;
	margin-top: 33px;
}


   


.headerLogo  {
	margin-top: 10px;
	margin-bottom: 10px;
}

.fbIcon a{
	width: 34px;
	height:34px;
	background:url(/img/en/sprite.png) -582px -11px;
	margin-right: 1px;
}
.insIcon a{
	width: 34px;
	height:34px;
	background:url(/img/en/sprite.png) -617px -11px;
	margin-right: 1px;
}

.linkedInIcon a{
	width: 34px;
	height:34px;
	background:url(/img/en/sprite.png) -652px -11px;
	margin-right: 1px;
}
.twIcon a{
	width: 34px;
	height:34px;
	background:url(/img/en/sprite.png) -687px -11px;
	
}

.bx-wrapper .bx-next {
	width: 42px  !important;
	height:73px  !important;
	background:url(/img/en/sprite.png) -81px -78px !important;
}

.bx-wrapper .bx-prev {
	width: 42px  !important;
	height:73px  !important;
	background:url(/img/en/sprite.png) -6px -77px  !important;
}


.bx-wrapper .bx-caption {
	width: 700px  !important;
	left: 100px  !important;
	top: 60%  !important;
	z-index: 99;
	
}
.bxsliderTitle{
	font-family: 'Roboto-Bold';
	font-size: 24px;
	color: #ffffff;
}
.bxsliderTitle a{
	font-family: 'Roboto-Bold';
	font-size: 24px;
	color: #ffffff;
}
.bxsliderText a,.bxsliderText{
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #ffffff;
}
.mainMenuContainer {
	width: 100%;
	/*height: 50px;*/
	background-color: #c7b183;
	
}

.mainMenuInnerContainer {
	margin: 0 auto;
	position: relative;
	z-index: 9999999999999;
}


.mainMenuInnerContainer ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	
}

.mainMenuInnerContainer ul li{
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: left;
}

.mainMenuInnerContainer ul li a{
	list-style: none;
	padding: 0px;
	margin: 0px;
	padding-left: 25px;
	padding-right: 25px;
	line-height: 50px;
	font-family: "Roboto-Bold";
	font-size: 12px;
	color: #ffffff;
	display: block;	
}

.mainMenuActive {
	color: #525050 !important;
}
.headerBannerShadow {
	position: absolute;
	z-index: 2;
	bottom: 0px;
}
.HeaderImageSrc {
	position: absolute;
	z-index: 1;
	bottom: 0;
}
.shopOnline {
	background-color: #525050;
	float: right !important;
}
.menuSeperator {
	width: 1px;
	height: 34px;
	background-color: #d1bf9a;
	margin-top: 8px;
}

.slicknav_menu {
	display:none;
}








.features {
	margin-bottom: 40px;
}

.homeBusinessLogo {
	width: 24px;
	height:24px;
	background:url(/img/en/sprite.png) -173px -94px;
	
	margin-right: 5px;
	margin-top: 5px;
}

.homeBusinessHeaderTitle {
	font-family: "Roboto-Bold";
	color: #53534a;
	font-size: 24px;
	margin-bottom: 10px;
}

.headerBusinessRow {
	width: 100%;
	clear: both;
}
.headerBusinessRow a{
	width: 100%;
	font-family: 'Roboto-Regular';
	color: #53534a;
	font-size: 14px;
	padding-left: 24px;
	padding-bottom: 9px;
	margin-bottom: 12px;
	border-bottom: 1px solid #cdcdcd;
	clear: both;
	float: left;
	
}

.homeCategoryRow {
	background-color: #f3f3f3;
	margin-bottom: 25px;
	padding-left: 20px;
	
	padding-top: 20px;
	border-bottom: 1px solid #cccccc;
}

.homeLeftContainer {
	padding-right: 29px;
}


.HomeCategoryListImage  {
	width: 80px;
	height: 40px;
	overflow: hidden;
}
.HomeCategoryListImage a {
	width: 80px;
	height: 40px;
}

.HomeCategoryListTitle{
	clear: both;
	margin-bottom: 5px;
	margin-top:5px;
}
.HomeCategoryListTitle a{
	font-family: "Roboto-Bold";
	color: #271b0f;
	font-size: 18px;
}

.HomeCategoryListText a{
	font-family: 'Roboto-Regular';
	color: #53534a;
	font-size: 12px;
}
.homeCategoryRowElement {
	padding-right: 20px;
	
	padding-bottom: 20px;
}


.homeNewsMainContainer {
	width: 100%;
	min-height: 203px;
	background-color: #f2f2f2;
	margin-bottom: 60px;
	margin-top: 60px;
	padding-top: 18px;
	padding-bottom: 50px;
}

.news_row {
	/*width: 375px;*/
	padding-right: 21px;
	
}

.homeHighlights {
	color: #265993;
	font-size: 11px;
	font-family: "Roboto-Bold";
	font-style:italic;
	margin-bottom: 30px;
}
.homeNewsDate {
	width: 36px !important;
	height: 40px;
	background-color: #b4975a;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 4px;
	padding-right: 4px;
}

.homeNewsDateMonth , .homeNewsDateDay , .homeNewsDateYear {
	color: #ffffff;
	font-size: 8px;
	font-family: "Roboto-Bold";
	font-style:italic;
	line-height: 10px;
	clear: both;
}

.homeNewsTitle {
	margin-left: 5px;
}
.homeNewsTitle a{
	color: #265993;
	font-size: 20px;
	font-family: "Roboto-Bold";
	
}

.homeNewsText a{
	color: #53534a;
	font-size: 12px;
	font-family: "Roboto-Regular";
}

.homeNewsHeader {
	margin-bottom: 5px;
}

.homeMiddleBanner{
	width: 287px;
	height: 144px;
	margin-right: 10px;
	overflow: hidden;
	margin-bottom: 10px;
}

.homeMiddleBanner a{
	width: 287px;
	height: 144px;
	
}
.footerFirstContainer {
	width: 100%;
	min-height: 186px;
	background-color: #c7b183;	
	margin-top: 70px;
	padding-top: 45px;
	padding-bottom: 45px;
}

.footerSecondContainer {
	width: 100%;
	
	background-color: #000000;	
}
.footerStayIntouch{
	width: 144px;
	height: auto;
	font-family: "Roboto-Regular";
	font-size: 20px;
	color: #443d30;
	margin-top: 37px;
	float: left;
	margin-bottom: 10px;
	
}

.footersubscribe{
	width: 144px;
	height: auto;
	font-family: "Roboto-Regular";
	font-size: 20px;
	color: #443d30;
	margin-top: 20px;
	float: left;
	
}
.footerSeparator {
	width: 1px;
	height: 101px;
	background-color: #decdab;
	
}

.footerContactText{
	width: 180px;
	height: auto;
	margin-left: 14px;
	font-family: Verdana;
	color: #443d30;
	font-size: 12px;
	float: left;
	margin-bottom: 10px;
}
.footerLeftContainer {
	margin-bottom: 30px;
}

.footerEmail a{
	clear: both;
	font-family: Verdana;
	font-weight:bold;
	color: #ffffff;
	font-size: 12px;
}

.copyRight {
	font-family: Verdana;
	font-size: 10px;
	color: #ffffff;
	line-height: 40px;
	margin-left: 115px;
}
.intouch a {
	font-family: Verdana;
	font-size: 10px;
	color: #ffffff;
	line-height: 40px;
}

.footerNewsletter {
	width: 300px;
	margin-left: 20px;
	float: left;
}

.newsLetterRow {
	width: 300px;
	margin-bottom: 6px;
	
}


.ContactFormRow {
	width: 286px;
	min-height: 48px;
	margin-bottom: 10px;
	margin-right: 10px;
	position: relative;
}
.jobFormRow {
	width: 286px;
	min-height: 48px;
	margin-bottom: 10px;
	margin-right: 10px;
	position: relative;
}

.NFI-button .error{
	margin-top: 30px;
	position: absolute;
	left: 0px;
	
}
.jobSubmitloader {
	width: 20px;
	height: 20px;
	display: none;
}
.newsLetterSubmit {
	width: 300px;
	height: 29px;
	padding-left: 14px;
	background-color: #525050;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	line-height: 29px;
	color:#ffffff;
	border: none;
	text-align:left;
	outline: none;
}


.newsletterInput {
	width: 300px;
	height: 29px;
	padding-left: 14px;
	background-color: #decdab;
	font-family: Verdana;
	font-size: 12px;
	color: #6a6a6a;
	line-height: 29px;
	border: none;
	outline: none;
}

.ContactTextArea {
	width: 286px;
	height: 202px;
	padding-left: 18px;
	background-color: #b2b1b1;
	font-family: "Roboto-Regular";
	font-size: 12px;
	color: #ffffff;
	font-style:italic;
	
	border: none;
	outline: none;
}
.ContactInput {
	width: 286px;
	height: 43px;
	padding-left: 18px;
	background-color: #b2b1b1;
	font-family: "Roboto-Regular";
	font-size: 12px;
	color: #ffffff;
	font-style:italic;
	line-height: 43px;
	border: none;
	outline: none;
	
}

.jobnput {
	width: 286px;
	height: 43px;
	padding-left: 18px;
	background-color: #b2b1b1;
	font-family: "Roboto-Regular";
	font-size: 12px;
	color: #ffffff;
	font-style:italic;
	line-height: 43px;
	border: none;
	outline: none;
	
}
.slicknav_menu {
	background: none !important;
	
}

.slicknav_menu ul li {
	float: left;
	clear: both;
}

.internalHeaderBanner {
	position: relative;
}

.slicknav_arrow {
	display: none;
}
.internalBannerTextContainer {
	position: absolute;
	z-index: 999;
	left: 6.5%;
	top: 70%;
	font-family: "Roboto-Bold";
	color: #ffffff;
	font-size: 24px;
	width: 300px !important;
	
}


.internalLeftMenu {
	width: 300px;
	border-top: 3px solid #dfa125;	
	border-bottom: 3px solid #dfa125;
	
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 30px;
}

.mainCategoryContainer {
	margin-left: 150px;
}
.leftMenu ul {
	list-style: none;
	border: none;
	outline: none;
	padding: 0px;
	margin: 0px;
	
}
.leftMenu li{
	list-style: none;
	border: none;
	outline: none;
	padding: 0px;
	margin: 0px;
	float: left;
	position: relative;
	
}
.leftMenu li a{
	list-style: none;
	border: none;
	outline: none;
	padding: 0px;
	margin: 0px;
	float: left;
	width: 300px;
	min-height: 68px;
	
	border-bottom: 1px solid #ad976a;
	display: block;
	padding-left: 28px;
	padding-right:10px;
	padding-top: 24px;
	padding-bottom: 24px;
	font-family: 'Roboto-Regular';
	color: #53534a;
	font-size: 14px;
	
}

.subSectionMenuLink {
	margin-bottom: 20px;
}
.subSectionMenuLink a{
	font-family: 'Roboto-Regular';
	color: #c3c2c2;
	font-size: 14px;
	margin-right: 10px;
}
.subSectionMenuLinkActive a{
	color: #dfa125;
	text-decoration: underline;
}
.subSectionMenuAjaxLoader {
	width: 20px;
	height: 20px;
	display: none;
}
.internalContent {
	margin-top: 30px;
	
	padding-left: 30px;	
}

.internalTopBorder {
	border-top: 3px solid #dedede;
	margin-bottom: 15px;
}
.leftMenuRow {
	background-color: #c1a876;
	position: relative;
	z-index: 1;
}

.SubLeftMenuRow {
	
	position: relative;
	z-index: 1;
}
.leftMenuAjaxLoader {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 10px;
	display: none;
	z-index: 9999;
}
.activeLeftMenu {
	background-color: #525050;
	
}
.activeLeftMenu a {
	color: #c1a876 !important;
}

.leftMenuArrow {
	width: 11px;
	height:11px;
	background:url(/img/en/sprite.png) -220px -99px;
	margin-top: 30px;
	right: 20px;
	position: absolute;
	z-index: 99;
}

.internalText {
	font-family: 'Roboto-Regular';
	color: #53534a;
	font-size: 14px;
}

.subMenuRow {
	margin-left: 20px;
}

.subMenuRow li {
	margin-left: 60px;
	
}

.subMenuRow li a {
	list-style: none;
	border: none;
	outline: none;
	padding: 0px;
	margin: 0px;
	float: left;
	width: 240px;
	min-height: 38px;
	background-color:none;
	
	/*border-bottom: 1px solid #ad976a;*/
	display: block;
	padding-left: 0px;
	padding-right:0px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Roboto-Regular';
	color: #c1a876;
	font-size: 14px;
	
}
.SubLeftMenuRowActive a{
	color: #525050 !important;
}
.bisnessSections {
	width: auto;
	height: 59px;
	margin-right: 1px;
}
.bisnessSections a{
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 59px;
	text-align: center;
	color: #ffffff;
	font-family: 'Roboto-Bold';
	font-size: 20px;
	background-color: #c3c2c2;
		
}
.bisnessSectionsActive a{
	background-color: #dfa125;
}


.subSectionMenuContainer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.subPageImageRow {
	width: 204px;
	height: 132px;
	overflow: hidden;
	margin-bottom: 20px;
	margin-right: 18px;
	position: relative;
}

.subPageImageRow a{
	width: 204px;
	height: 132px;
	border: 1px solid #e1e1e1;
	
	
}

.subPageImageContainer {
	clear: both;
	margin-top: 20px;	
}

.internalImg {
	margin-bottom: 20px;
	clear: both;
	margin-top: 20px;
}

.internalContentAjaxLoader {
	width: 20px;
	position: absolute;
	height: 20px;
	top: 153px;
	left: 90px;
	display: none;
}


.BrandContentAjaxLoader {
	width: 20px;
	position: absolute;
	height: 20px;
	
	left: 90px;
	display: none;
}
.backBtn {
	clear: both;
	/*margin-bottom: 20px;*/
}
.backBtn a{
	font-family: Arial;
	color: #265993;
	font-size: 11px;
	font-style: italic;
	
}

.brandEmail {
	clear: both;
	margin-top: 0px;
	margin-bottom: 10px;
}
.brandEmail a {
	font-family: 'Roboto-Regular';
	color: #7aa7c9;
	font-size: 14px;
	
}

.fullPageTopBoarder {
	width: 100%;
	height: 3px;
	background-color: #dedede;
	margin-bottom: 35px;
	margin-top: 30px;
}

.fullPageTopBoarder2 {
	width: 100%;
	height: 3px;
	background-color: #dedede;
	margin-bottom: 5px;
	/*margin-top: 30px;*/
}

.newsCategoryRow {
	padding-right: 23px;
	margin-bottom: 27px;
}

.categoryListSmallRow {
	width: 270px;
	margin-right: 20px;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.categoryListHeader {
	width: 100%;
	/*margin-bottom: 20px;*/
	/*padding-bottom:15px;*/
	/*border-bottom: 1px solid #cccccc;*/
}

.categoryListHeaderInternal {
	width: 100%;
	/*margin-bottom: 20px;
	padding-bottom:15px;*/
	font-family: 'Roboto-Bold';
	color: #221f1f;
	font-size: 24px;
	
}
.categoryListHeaderTitle {
	font-family: 'Roboto-Bold';
	font-size:24px;
	color: #221f1f;
	font-style: italic;
}
.categoryListHeaderViewAll a {
	
	font-family: 'Roboto-Regular';
	font-size:12px;
	color: #b4975a;
	margin-top: 15px;
	
}
.categoryListLargeTextContainer {
	padding-left: 20px;
}
.clearRow {
	width: 100%;
	clear: both;
	float: left;
}
.categoryListLargeTitle a{
	font-family: 'Roboto-Bold';
	font-size:20px;
	color: #265993;	
}

.noDataFound {
	font-family: 'Roboto-Bold';
	font-size:20px;
	color: #265993;	
}
.categoryListLargeText a{
	font-family: 'Roboto-Regular';
	font-size:12px;
	color: #53534a;	
}
.PaginationAjaxLoader {
	width: 20px;
	height: 20px;
	display: none;
}
.categoryListLargeRow {
	margin-bottom: 18px;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 27px;
}

.categoryListLargeRowInternal {
	margin-bottom: 18px;
	
	padding-bottom: 27px;
	padding-right: 40px;
}
.listingBoarder {
	margin-top: 20px;
	height: 1px;
	background-color: #cccccc;
}

.categoryListLargeImage {
	border: 1px solid #cccccc;
	overflow: hidden;
	margin-bottom: 19px;
}

.page_next {
	width: 26px;
	height:26px;
	float: left;
}
.page_next a{
	width: 26px;
	height:26px;
	background:url(/img/en/sprite.png) -312px -89px;
	
}


.page_prev {
	width: 26px;
	height:26px;
	float: left;
}
.page_prev a{
	width: 26px;
	height:26px;
	background:url(/img/en/sprite.png) -266px -89px;
	
}

.paginatorNumbersContainer {
	width: 190px;
	height: 24px;
	margin-top:1px;
	border: 1px solid #cccccc;
	padding-left: 10px;
	padding-right: 10px;
}

.paginator_elemnt a{
	font-family: 'Roboto-Bold';
	font-size: 14px;
	color: #8d9195;
	padding-left: 6px;
	padding-right: 6px;
}
.last_page a{
	font-family: 'Roboto-Bold';
	font-size: 14px;
	color: #8d9195;
	padding-left: 6px;
	padding-right: 6px;
}
.activeSlide  {
	font-family: 'Roboto-Bold';
	font-size: 14px;
	color: #34649a;
	padding-left: 5px;
	padding-right: 5px;
}
.last_page {
	float: left;
}

.newsPaginationContainer {
	width: 250px;
	margin-bottom:40px;
	margin-top:20px;
	height: 25px;
}

.newsListingAjaxLoader {
	width: 20px;
	height: 20px;
	display: none;
}

.newsDetailsTitle {
	font-family: 'Roboto-Bold';
	font-size:20px;
	color: #265993;	
}

.newsDetailsText {
	font-family: 'Roboto-Regular';
	font-size:12px;
	color: #53534a;
	margin-top: 10px;
}

.newsDetailsImage {
	margin-bottom: 17px;
	height: auto;
	overflow: hidden;
	clear: both;
	margin-top: 10px;
}
.newsDetailsTextContainer {
	padding-left: 17px;
}
.backAjaxLoader {
	width: 20px;
	height: 20px;
	margin-left: 10px;
	display: none;
}

.careerList {
	margin-top: 20px;
	margin-bottom: 200px;
}
.jobListAccord {
	background-color: #f2f2f2;
	margin-bottom: 1px;
}
.jobListHeaderTitle {
	font-family: 'Roboto-Bold';
	color: #525050;
	font-size: 16px;	
}
.jobListHeaderBorder {
	height: 3px;
	background-color: #dfa125;
	margin-top: 10px;
}

.jobListContainer {
	margin-top: 20px;
}
.jobListAccordTitle {
	
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	height: 48px;
	font-family: 'Roboto-Regular';
	color: #53534a;
	font-size: 14px;
	background-image: url("/img/r_arrow.png");
	background-repeat:no-repeat;
	background-position:98% center;
	cursor:pointer;
	
}
.jobListAjaxLoader {
	width: 20px;
	height: 20px;
	display: none;
}
.jobListAccordTitleActive{
	background-color: #525050;
	color: #c1a876;
	background-image: url("/img/d_arrow.png") !important;
}
.jobDetailsTextContainer {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 25px;
	padding-bottom: 25px;
	display: none;
}
.jobDetailsText {
	font-family: "Roboto-Regular";
	color: #6f6f6a;
	font-size:12px;
	font-style: italic;
	margin-bottom: 10px;
	
}
.NFI-wrapper {
	/*the container div*/
}
.NFI-button {
	/*the button div element*/
	float: right !important;
	margin-right: 15px;
	font-family: "Roboto-Regular";
	
	color: #525050;
	font-size: 10px;
	position: inherit !important;
	float: right;
	right: 0px;
	
}
.NFI-filename {
	/*the text input element which collects and shows the value*/
	width: 200px;
	height: 43px;
	background-color: transparent;
	padding: 0px;
	border: none;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #ffffff;
}

.JobSubmit {
	width: 286px;
	height: 43px;
	background-color: #c1a876;
	font-family: "Roboto-Bold";
	color: #000000;
	font-size: 14px;
	border: none;
	outline: none;
	text-decoration: none;
	padding-left: 18px;
}

.contactBranchTextContainer {
	width: 290px;
	height: auto;
	padding-right: 20px;
}

.contact_details_content {
	margin-top: 20px;
}
.contactUsBranchesContainer  {
	
}
.contact_details {
	display: none;
}
.contactBranchesElement {
	margin-top: 10px;
}
.contactBranchesLoader {
	width: 20px;
	height: 20px;
	display: none;
}
.contactHeaderBorder {
	border-top: 3px solid #dfa125;
	width: 100%;
}
.contactHeaderInternalContainer {
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
	padding-left: 20px;
}
.contactHeaderTitle {
	font-family: 'Roboto-Bold';
	color: #a5a1a1;
	font-size: 16px;
	cursor: pointer;
}
.contactHeaderTitleActive {
	color: #525050;
}
.subBranchTitle {
	font-family: 'Roboto-Regular';
	color: #9c9898;
	font-size: 13px;
	cursor: pointer;
	margin-right: 20px;
	margin-bottom: 2px;
	font-style: italic;
}
.subBranchTitleActive{
	color: #525050;
	text-decoration: underline;
}
.ContactHeaderSeperator {
	width: 1px;
	background-color: #696767;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 3px;
	height: 15px;
}
.contactBranchTextContainer {
	font-family: 'Roboto-Regular';
	color: #53534a;
	
}
.fileLabel {
	position: absolute; 
	top: 10px; 
	left:10px;
	font-size: 12px;
    font-style: italic;
    font-family: "Roboto-Regular";
	color: #ffffff;
}

.FormStatus  {
	width: 100%;
	font-family: 'Roboto-Regular';
	color: #53534a;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
	float: left;
}


.contactFormHeaderTitle {
	 font-family: "Roboto-Bold";
	color: #000000;
	font-size: 16px;
	margin-bottom: 13px;
}
.contactFormContainer {
	padding-left: 24px;
	margin-top: -8px;
}
.newsletterAjaxLoader {
	width: 20px;
	height: 20px;
	display: none;
}



@media (max-width: 992px) {
	/* #menu is the original menu */
	#menu {
		display:none;
	}
	
	.contactFormContainer {
		margin-top: 20px;
		padding: 0px;
	}
	
	#innerLeftmenu {
		display:none;
	}
	.slicknav_menu {
		display:block;
	}
	.internalBannerTextContainer{
		top: 40%;
	}
	
	.footerStayIntouch {
		margin: 0 auto;
		float: none;
		margin-bottom: 10px;
	}
	
	.footerContactText {
		margin: 0 auto;
		float: none;
		text-align: center;
	}
	.footerEmail {
		text-align: center;
	}
	
	.footersubscribe {
		margin: 0 auto;
		float: none;
		margin-bottom: 10px;
	}
	.footerNewsletter {
		margin: 0 auto;
		float: none;
		
	}
	.copyRight {
		margin: 0px;
		line-height: 10px;
		margin-top: 5px;
	}
	.intouch a {
		line-height: 10px;
		margin-top: 10px;
		float: left;
		margin-bottom: 10px;
	}
	.internalContent {
		padding: 0px;
	}
	.internalLeftMenu {
		margin-top: 20px !important;
	}
	.mainCategoryContainer {
		margin-left: 20px;
		margin-top: 20px;
	}
	
	.socialMediaIcons {
		margin-bottom: 10px;
		margin-top: 10px;
	}
}
